
/*--------------------------- OVERALL --------------------------*/
/*test*/
.test1{
    background-color: var(--primary-accent);
}
.test2{
    background-color: var(--red-light);
}
:root{
    --text-dark: #000;
    --text-light: #e0dddd;
    --text-grey: #e0dddd;
    --text-red1: #BA181B;
    --text-red-light: #f84f39;
    --main-font: "IBM Plex Sans", serif;
    --heading-font: "Recursive", serif;

    --h1-size: 45px;
    --h1-height: 75px;
    --h2-size: 40px;
    --h2-height: 65px;
    --h3-size: 32px;
    --h4-size: 28px;
    --h5-size: 22px;
    --h6-size: 20px;
    --subtitle-size: 17px;
    --subtitle-height: 20px;
    --p-size: 18px;
    --p-height: 26px;
    --secondary-text-size: 14px;
    --secondary-text-height: 18px;
    --btn-size: 16px;
    --btn-height: 22px;
    /* spacing */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --spacing-xxl: 96px;

    /* --standard-width: 1144px; */
    --standard-width: 1200px;

    --red-1: #BA181B;
    --red-2: #A4161A;
    --red-3: #891216;
    --red-4: #660708;
    /* --red-light: #E5383B; */
    --red-light: #f84f39;
    --black-1: #161A1D;
    --black-dark: #0B090A;
    --black-light: #333;
    /* --primary-accent: #669bbc; */
    /* --primary-accent: #E5383B; */
    --primary-accent: #f84f39;
    --primary-btn-hover: #;
    --bg-light: #333;
    --bg-reg: #161A1D;
    --bg-dark: #0B090A;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family: "EB Garamond", serif; */
    color:#e0dddd;
}

@font-face{
    font-family: rev-font;
    src: url(Rev.ttf);
}

body{
    font-family: var(--main-font);
    background-color: var(--bg-reg);
    color: var(--text-light);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    /* align-items: center; */
    /* padding: var(--spacing-sm) 0 0 0; */


}

H1{
    color: var(--text-light);
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h1-size);
    margin: 0;
    width: 100%;
    letter-spacing: -1px;
    line-height: var(--h1-height);
}

h2{
    color: var(--text-light);
    font-family: var(--heading-font);
    font-size: var(--h2-size);
    font-weight: 500;
    margin: 0;
    width: 100%;
    letter-spacing: -0.25px;
    line-height: var(--h2-height);
}

h3{
    color: var(--text-light);
    font-family: var(--heading-font);
    font-size: var(--h3-size);
    font-weight: 500;
    margin: 0;
    width: 100%;
}

h4{
    color: var(--text-light);
    font-family: var(--heading-font);
    font-size: var(--h4-size);
    font-weight: 500;
    margin: 0;
    width: 100%;
    letter-spacing: 0.25px;
}

h5{
    color: var(--text-light);
    font-family: var(--heading-font);
    font-size: var(--h5-size);
    font-weight: 500;
    margin: 0;
    width: 100%;
}

h6{
    color: var(--text-light);
    font-family: var(--heading-font);
    font-size: var(--h6-size);
    font-weight: 500;
    margin: 0;
    width: 100%;
    letter-spacing: -0.25px;
}

a{
    text-decoration: none;
    color: var(--red-1);
    font-weight: 500;
    transition: color 0.25 ease;
}

a:hover{
    color: var(--red-light);
}

p{
    font-family: var(--main-font);
    font-size: var(--p-size);
    line-height: var(--p-height);
    font-weight: 400;
    margin: var(--spacing-md) 0;
}

.subtitle, .subtitle2, .subtitle-spacing{
    color: var(--primary-accent);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--subtitle-size);
    /* line-height: var(--subtitle-height); */
    margin: 0;
    text-transform: uppercase;
}

.subtitle2{
    color: var(--red-1);
}

.subtitle-spacing{
    margin-bottom: var(--spacing-lg);
}

.secondary-text{
    font-size: var(--secondary-text-size);
    line-height: var(--secondary-text-height);
    color: var(--text-grey);
    letter-spacing: 0.25px;
}

.primary-btn{
    font-family: var(--main-font);
    font-size: var(--btn-size);
    line-height: var(--btn-height);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 18px;
    border: none;
    background-color: var(--red-1);
    padding: var(--spacing-sm) var(--spacing-md);
    transition: all .5s ease;
}

.primary-btn:hover{
    background-color: var(--red-3);
    cursor: pointer;
    /* transform: scale(1.01); */
}

/* .secondary-btn{
    font-family: var(--main-font);
    font-size: var(--btn-size);
} */

.with-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.with-icon > img{
    transition: transform 0.25s ease;
}

.with-icon:hover > img{
    transform: translateX(4px);
}

/*----- Loyout Styles -----*/
.section-container{
    width: 100%;
    max-width: var(--standard-width);
}

.two-column{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.two-column > .col-left{
    width: 50%;
    box-sizing: border-box;
    padding: 0 var(--spacing-md) 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.two-column >.col-right{
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.two-column-big, .two-column-big-right{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.two-column-big > .col-left, .two-column-big-right > .col-right{
    width: 60%;
    box-sizing: border-box;
    padding: 0 var(--spacing-md) 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.two-column-big >.col-right, .two-column-big-right > .col-left{
    width: 40%;
    box-sizing: border-box;
    padding: 0 0 0 var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: center; */
}

.two-column-big-right > .col-right{
    padding: 0 0 0 var(--spacing-md);
    width: 55%;
}

.two-column-big-right > .col-left{
    padding: 0 var(--spacing-md) 0 0;
    width: 45%;
}

 /* body{
    min-height: 100vh;
    background: url('2024worlds.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    //
}  */


/*--------------------------- FOOTER --------------------------*/

.footer{
    background-color: var(--bg-dark);
    text-align: center;
    width: 100%;

}

/* footer h1{
    padding-bottom: 30rem;
    
} */
/*--------------------------- HEADER --------------------------*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, .5);
    /* background: rgba(3, 3, 3, .5); rgba(0, 0, 0, .1); */
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: -1;
}   

.logo {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.25s ease;
    
} 

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    margin-left: 2.5rem;
    cursor: pointer;
    position: relative;
}

#check {
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.navbar a::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: '';
    height: 2px;
    transition: all 0.3s linear;
    width: 0;
    background: #e0dddd;
    transform: translateX(-50%);
  }
  .navbar a:hover:after {
    width: 100%;
  }

  nav a.current::after{
    width: 100%;
    transition: none;
}

/*--------------------------- HOME PAGE --------------------------*/
/*----- HOME hero -----*/
    
.home-hero-container{
    background: url(images/2024worlds.jpeg) no-repeat center center;
    background-size: cover;
    height: 70vh; 
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: brightness(80%);
}

.home-hero-container p {
    font-size: 1.5rem;
    max-width: 80%;
    margin: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
} 

/*----- HOME about -----*/

.about{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px ;
    background-color: var(--bg-reg);
    padding-bottom: 0px;
}

.about p{
    padding-right: 3rem;
    text-align: left;
}

.about-left{
    align-content: center;
    margin-left: 3rem;

}

.about-right{
    align-content: center;
    margin-right: 5rem;
}

.about img{
    border-radius: 10px; 
    width: 500px;   
}


/*----- HOME robot -----*/
.row{
    display: flex;
    justify-content: space-between;
}

.robots-home{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 3rem;
    background-color: var(--bg-reg);

}

.robots-home-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 1.875rem;
    position: relative;
    overflow: hidden;
}

.robots-home-col img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    display: inline-block;
}

.layer{
    background: transparent;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.4);
}

.layer a{
    width: 100%;
    font-weight: 200;
    color: #fff;
    font-size: 1.5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    text-decoration: none;
}
.layer:hover a{
    bottom: 49%;
    opacity: 1;
}

/* a:hover{
    scale: 1.1;
} */

.robot-title{
    color: red;
    text-align: center;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center; 
}


/* .robots-btn{
    display: inline-block;
    color: #e0dddd;
    text-decoration: none;
    padding: 12px 34px;
    margin-bottom: 2rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 18px;
    background: var(--red-1);
    transition: .5s ease-in-out;
}

.robots-btn:hover{
    background: var(--red-3);
    color: #fff;

    transition: .5s;
} */

/*----- HOME outreach -----*/

/* .outreach-home{
    text-align: center;
} */

/* iframe{
    border: 1px solid;
    width: 40%;
    height: 600px;
    background-color: #525252;
} */

/*------ HOME quotes ------*/

.quotes .subtitle{
    text-align: center;
    margin-bottom: var(--spacing-lg);
    position: relative;
}

/* .quotes .subtitle::after{
    content: '';
    width: 100%;
    height: .2em;
    background: red;
    position: absolute;
    bottom: -2px;
    left: 0; 
} */

.quotes{
    background-color: var(--bg-light);
    margin-top: var(--spacing-xl);
    padding: var(--spacing-lg) var(--spacing-lg);
    display: flex;
    flex-direction: column;
    
}

.wrapper-scroll{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.wrapper-scroll::-webkit-scrollbar{
    width: 0;
}



.wrapper-scroll .item{
    min-width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-reg);
    margin-right: var(--spacing-md);
    scroll-snap-align: start;
}

/*--------------------------- SEASONS PAGE --------------------------*/
/*----- SEASONS hero -----*/

.seasons-hero-container{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 60px;
}

.seasons-hero-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(images/fenrir-pit.png);
    
    /* filter: sepia(100%) hue-rotate(300deg) brightness(50%) saturate(250%); */
    filter: brightness(50%);
    background-attachment: fixed;
}

.seasons-hero-container h1{
    /* font-family: rev-font; */
    font-weight: 500;
    color: white;
    font-size: 6rem;
    text-align: center;
    z-index: 1;
}

/*----- SEASONS nav -----*/

.seasons-nav{
    /* position: absolute; */
    /* top: 0;
    left: 0;
    width: 100%; */
    padding: 10px 10px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #333;
    border: .2px solid #525252;
    z-index: 1;
    max-width: 700px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 6px 20px rgba(0, 0, 0, 0.6);
    
    /* overflow-y: hidden;
    overflow-x: auto; */
}

.seasons-nav a{
    text-decoration: none;
    color: #fff;
    padding: 6px 20px;
    border-radius: 20px;
    margin: 0 5px;
    transition: .5s ease-in-out;
}
.seasons-nav a:hover:not(.current-season){
    background: #292929;
    transition: .5s;
}

.current-season{
    /* background: #292929; */
    background: #db0609;
}

/*----- SEASONS split section -----*/

.seasons-robot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--spacing-lg) var(--spacing-xxl);
}

.seasons-robot h1{
    text-align: center;
}

.seasons-robot h4, h6{
    line-height: var(--h1-height);
    padding-left: var(--spacing-md);
}

.seasons-image{
    width: 90%;
    border-radius: 10px;
}
/* .seasons-robot >.col-right{
    
    justify-content: center;
    align-items: flex-start;
} */

.comps-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 600px; */
    overflow: hidden;
}

#p-edit{
    margin-top: 0;
}

/* .banner-image{
    margin: var(--spacing-sm);
    width: 50%;
} */

.seasons-awards > img{
    width: 100px;
    margin-left: var(--spacing-lg);
    margin-top: var(--spacing-lg);
}

/*----- SEASONS team section -----*/

.seasons-team{
    background-color: var(--black-light);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #333;
    padding: var(--spacing-lg) 0 var(--spacing-xl) 0;
}

.wrapper{
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.wrapper .item{
    width: 100px;
    text-align: center;
    margin-right: 2px;
}

/*--------------------------- RESOURCES PAGE --------------------------*/
/*----- RESOURCES hero -----*/
.resources-hero-container{
    position: relative;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -20px;
}

.resources-hero-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(images/6911jackets.jpg);
    /* filter: sepia(100%) hue-rotate(300deg) brightness(50%) saturate(250%); */
    filter: brightness(50%);
    background-attachment: fixed;
}

.resources-hero-container h1{
    /* font-family: rev-font; */
    font-weight: 500;
    color: white;
    font-size: 6rem;
    text-align: center;
    z-index: 1;
}

/*----- RESOURCES software -----*/
.resources-software{
    display: flex;
    justify-content: center;
    /* padding: calc(var(--spacing-xl) * 1.5); */
    padding: var(--spacing-xxl);
}

.software-image-container{
    width: 100%;
    position: relative;
    height: 500px;
    align-items: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.software-image-container > img{
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 6px 20px rgba(0, 0, 0, 0.6);
}

.divider{
    border-top: 3px solid var(--bg-dark);
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6), 0 6px 20px rgba(0, 0, 0, 0.6);
}
/*----- RESOURCES slideshow -----*/
.slider{
    width: 800px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
 
.slides{
    width: 500%;
    display: flex;
    border-radius: 10px;
}
 
.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 1s;
}

.slide img{
    width: 800px;
    border-radius: 10px;
    display: flex;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid red;/* border: 2px solid var(--red-1); */
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background: red;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

#radio6:checked ~ .first{
    margin-left: -100%;
}

#radio7:checked ~ .first{
    margin-left: -120%;
}

#radio8:checked ~ .first{
    margin-left: -140%;
}

#radio9:checked ~ .first{
    margin-left: -160%;
}
/*--------------------------- OUTREACH PAGE --------------------------*/
/*----- OUTREACH hero -----*/
.outreach-body{
    /* height: 300vh; */
    background-color: var(--bg-reg); 
}

html{
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

.outreach-hero{
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.outreach-hero > div{
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    padding-bottom: 15vh;
    transition: 0.3s ease-in-out;
}

.outreach-hero > div > img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: -1;
    /* filter: grayscale(100%); */
    transition: 0.3s ease-in-out;
}

/* .outreach-hero > div:hover > img{
    filter: grayscale(100%);
} */

.outreach-hero > div::before{
    content: '';
    background: linear-gradient(0deg,rgba(0,0,0,.8),rgba(0,0,0,0));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.outreach-hero h2{
    color: var(--red-1);
    font-weight: 600;
}

.highlight{
    color: var(--text-light);
    font-family: var(--heading-font);
    font-size: var(--h2-size);
    font-weight: 500;
    letter-spacing: -0.25px;
    line-height: var(--h2-height);
}

.outreach-hero .text{
    position: relative;
}

.sub-heading b{
    color: var(--text-light);
    margin-right: 0.5em;
}

.title{
    margin: 0.2em 0 0.7em 0;
}

.sub-heading{
    position: relative;
}

.sub-heading::before{
    content:'';
    background: var(--red-1);
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    width: 3em;
    height: 4px;
}

.section-link > img{
    transition: transform 0.25s ease;
}

.section-link:hover > img{
    transform: translateX(4px);
}

.section-link{
    text-decoration: none;
    font-family: var(--heading-font);
    color: var(--text-light);
    display: inline-block;
    /* margin: 5em 0 1em 0; */
    margin: 1em 0 1em 0;
    font-weight: bold;
    /* font-size: var(--btn-size); */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s;
}
.section-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .section-link::before{
    content: '';
    background: var(--text-light);
    position: absolute;
    top: -4em;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 3em;
} */

.section-link:hover{
    color: #ccc;
}

.outreach-hero > div:hover{
    /* padding-bottom: 10em; */
    padding-bottom: 8em;
}

.outreach-hero > div:hover .section-link{
    opacity: 1;
}

/*----- OUTREACH overview -----*/

/* .outreach-section p{
    color: var(--text-dark);
} */

.approach{
    text-align: center;
    padding: 0 var(--spacing-xxl);
}

.outreach-section{
    /* max-width: var(--standard-width); */
    padding: var(--spacing-lg) var(--spacing-xxl);
}

.outreach-section h2{
    color: var(--red-1);
}

/*--------------------------- SPONSORS PAGE --------------------------*/

.sponsors-container{
    padding: var(--spacing-lg) var(--spacing-xxl);
}

.sponsors-container h1{
    margin: 5rem 0rem 3rem 0rem;
}

.sponsors-container h1::after{
    content: '';
    width: 200px;
    height: 3px;
    background: var(--red-1);
    display: block;
}

.tiers-container{
    text-align: center;
}

.tiers-container h3{
    /* margin-bottom: 15rem; */
}









/*--------------------------- BREAKPOINTS --------------------------*/
/*----- TABLET size -----*/
@media only screen and (max-width: 768px){
}

/*----- MOBILE size -----*/
@media only screen and (max-width: 550px){
    :root{
        --spacing-xxl: 64px;
    }
    
    .two-column, .two-column-big, .two-column-big-right{
        flex-direction: column;
    }

    .two-column .col-left, .two-column-big .col-left, .two-column-big-right .col-left{
        width: 100%;
        padding: 0;
    }

    .two-column .col-right, .two-column-big .col-right, .two-column-big-right .col-right{
        width: 100%;
        padding: 0;
    }
}

/*----- HOME robot -----*/
@media only screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*----- OUTREACH hero -----*/
@media only screen and (max-width: 900px){
    html{
        font-size: 14px;
    }
} 
@media only screen and (max-width: 750px){
    .outreach-hero{
        grid-template-columns: 1fr;
    }

    .break{
        display: none;
    }
}

/*----- NAVBAR main -----*/
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }

    .about-right{
        margin: 0px;
    }
}

@media (max-width: 1200px){
    .about img{
        display: none;
    }
    .about-right{
        display: none;
    }

    .about-left p{
        text-align: center !important;
    }
}

@media (max-width: 850px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none; 
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block; 
    } 

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        /* background: rgba(107, 19, 19); */
        background: rgba(0, 0, 0, .1);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    } 

    .navbar a{
        display: block; 
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
        transition: color .3s ease 0s;
    }

    .navbar a::after{
        transition: none;
    }
    .navbar a.current::after{
        width: 0;
        transition: none;
    }
    .navbar a:hover::after{
        width: 0;
    }
    /* .navbar a{
        transition: color 0.1s ease;
    } */
    
    .navbar a:hover{
        color: #bebbbb;
    }

    .navbar a.current{
        color: #bebbbb;
        font-weight: 600;
    }

    #check:checked~.navbar a{   
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
        transition-property: transform, opacity;
    }
}

