
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;/*"Poppins", sans-serif; */
    color:#e0dddd;
}

H1{
    font-size: 1.9rem;
    font-weight: 600;
    margin: 2rem;
}

p{
    color:#e0dddd;
    font-size: 1.1rem;
    font-weight: 300;
}

 /* body{
    min-height: 100vh;
    background: url('2024worlds.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    //
}  */

/*----- header -----*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, .5);
    /* background: rgba(3, 3, 3, .5); rgba(0, 0, 0, .1); */
    backdrop-filter: blur(50px);
    z-index: -1;
}   

.logo {
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
    
} 

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

nav a{
    cursor: pointer;
}

nav a:hover{
    border-top:#fff 1.5px solid;
    border-bottom:#fff 1.5px solid;
}

nav .current{
    border-bottom:#fff 1.5px solid;
}

/* BREAKPOINTS */
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none; 
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block; 
    } 

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        /* background: rgba(107, 19, 19); */
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    } 

    .navbar a{
        display: block; 
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    nav a:hover{
        border-top: none;
        border-bottom: none;
        
    }

    nav .current{
        border-bottom: none;
    }

    #check:checked~.navbar a{   
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

#top{
    /* background: linear-gradient(rgb(4,9,30,0.2),rgba(4,9,30,0.2)),url(images/2024worlds.jpeg) no-repeat center center; */
    background: url(images/2024worlds.jpeg) no-repeat center center;
    background-size: cover;
    height: 70vh; 
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#top p {
    font-size: 1.5rem;
    max-width: 80%;
    margin: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

body{
    background-color: #333;
    /* background-color:#dadad2; */

}

/*----- about section -----*/

.about{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px;
    background-color: #333;
    padding-bottom: 0px;
}

/*----- robot section -----*/

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.robots-home{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 3rem;
    background-color:#333;
}

.robots-home-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 1.875rem;
    position: relative;
    overflow: hidden;
}

.robots-home-col img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    display: inline-block;
}

.layer{
    background: transparent;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.4);
}

.layer a{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 1.5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    text-decoration: none;
}
.layer:hover a{
    bottom: 49%;
    opacity: 1;
}

a:hover{
    scale: 1.1;
}

.robot-title{
    color: red;
    text-align: center;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.robots-btn{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 12px 34px;
    margin-bottom: 2rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 18px;
    /* background: #d9362a; */
    background: #AD1F1F;
    transition: .5s ease-in-out;
}

.robots-btn:hover{
  
    background: #6b1313;
    color: #fff;
    transition: .5s;
}

/*----- outreach section -----*/

.outreach-home{
    text-align: center;
}

iframe{
    border: 1px solid;
    width: 40%;
    height: 600px;
    background-color: #525252;
}

/*------ footer section ------*/

footer{
    background-color: #525252; 
    text-align: center;
}

footer h1{
    padding: 2rem;
    padding-bottom: 30rem;
}

/* .robots{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.robot{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.robot-image{
    width: 400px;
    height: auto;
    transition: .5s ease-in-out;
}

img:hover{
    transform: scale(1.02);
    transition: .5s ease-in-out;
}

.robot-image{
    margin-top: 5%;
    object-fit: cover;
    border-radius: 10px;
}

.btn-container{
    text-align: center;
}

.robots-btn{
    display: inline-block;
    text-decoration: none;
    
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 18px;
    background: #d9362a;
    transition: .5s ease-in-out;
}

.robots-btn:hover{
  
    background: #6b1313;;
    color: #fff;
    transition: .5s;
} */





/* #about{
    display: flex;
    padding: 2rem; 

}
#about-left{
    flex: 1;
    padding: 2rem;
    width: 50%;
    align-content: center;
}
#about-image{
    align-items: center;
    max-width: 100%;
    max-height: 100%;

}
#about-right{
    flex: 1;
    align-items: center;
    padding: 2rem;
    width: 50%;
    text-align: center;
    font-size: 1rem;
    color: #fff;
}

#logo-image{
    display: inline-block;
    float: right;
    padding-right: 10rem;

}

#robot-gallery{
    color: #fff;
    display: grid;
    text-align: center;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
}
#robot-gallery img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}

#awards-gallery{
    color: #fff;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(6, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

#other{
    color: #fff;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
} */
