
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: "EB Garamond", serif;
    color:#e0dddd;
}

:root{
    --text-dark: #000;
    --text-light: #fff;
    --text-grey: #e0dddd;
    
    --main-font: "EB Garamond", serif;
    --heading-font: rev-font;
    /* spacing */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;

    --standard-width: 1144px;

    --red-1: #db0609;
    --black-1: #333;
    --bg-light: #;

}

@font-face{
    font-family: rev-font;
    src: url(Rev.ttf);
}

H1{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem;
    color: var(--text-light);
}

p{
    color: var(--text-grey);
    font-size: 1.15rem;
    font-weight: 200;
    line-height: 1.8;
}

.section-container{
    width: 100%;
    max-width: var(--standard-width);
}

.two-column{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.two-column >.col-left{
    width: 50%;
    box-sizing: border-box;
    padding: 0 var(--spacing-md) 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.two-column >.col-right{
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}




 /* body{
    min-height: 100vh;
    background: url('2024worlds.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    //
}  */

/*----- header -----*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, .5);
    /* background: rgba(3, 3, 3, .5); rgba(0, 0, 0, .1); */
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: -1;
}   

.logo {
    font-size: 1.5rem;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    
} 

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    margin-left: 2.5rem;
    cursor: pointer;
    position: relative;
}

#check {
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.navbar a::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: '';
    height: 2px;
    transition: all 0.3s linear;
    width: 0;
    background: #e0dddd;
    transform: translateX(-50%);
  }
  .navbar a:hover:after {
    width: 100%;
  }

  nav a.current::after{
    width: 100%;
    transition: none;
}

/* BREAKPOINTS */
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }

    .about-right{
        margin: 0px;
    }
}

@media (max-width: 1200px){
    .about img{
        display: none;
    }
    .about-right{
        display: none;
    }

    .about-left p{
        text-align: center !important;
    }

}

@media (max-width: 850px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none; 
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block; 
    } 

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        /* background: rgba(107, 19, 19); */
        background: rgba(0, 0, 0, .1);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    } 

    .navbar a{
        display: block; 
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    .navbar a::after{
        transition: none;
    }
    .navbar a.current::after{
        width: 0;
        transition: none;
    }
    .navbar a:hover::after{
        width: 0;
    }
    /* .navbar a{
        transition: color 0.1s ease;
    } */
    .navbar a:hover{
        color: #bebbbb;
    }
    .navbar a.current{
        color: #bebbbb;
        font-weight: 600;

    }

    #check:checked~.navbar a{   
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));

    }
}/*----- home hero -----*/
    
 #top{
    /* background: linear-gradient(rgb(4,9,30,0.2),rgba(4,9,30,0.2)),url(images/2024worlds.jpeg) no-repeat center center; */
    background: url(images/2024worlds.jpeg) no-repeat center center;
    background-size: cover;
    height: 70vh; 
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#top p {
    font-size: 1.5rem;
    max-width: 80%;
    margin: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
} 

body{
    background-color: #333;
    height: 500vh;
    /* background-color:#dadad2; */

}

/*----- about section -----*/

.about{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px;
    background-color: #333;
    padding-bottom: 0px;
}

.about p{
    padding-right: 3rem;
    text-align: left;
}

.about-left{
    align-content: center;
    padding: 2rem;
    margin-left: 3rem;

}

.about-right{
    align-content: center;
    margin-right: 5rem;
}

.about img{
    border-radius: 10px; 
    width: 500px;   
}


/*----- robot section -----*/

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.robots-home{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 3rem;
    background-color:#333;

}

.robots-home-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 1.875rem;
    position: relative;
    overflow: hidden;
}

.robots-home-col img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    display: inline-block;
}

.layer{
    background: transparent;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.4);
}

.layer a{
    width: 100%;
    font-weight: 200;
    color: #fff;
    font-size: 1.5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    text-decoration: none;
}
.layer:hover a{
    bottom: 49%;
    opacity: 1;
}

/* a:hover{
    scale: 1.1;
} */

.robot-title{
    color: red;
    text-align: center;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.robots-btn{
    display: inline-block;
    color: #e0dddd;
    text-decoration: none;
    padding: 12px 34px;
    margin-bottom: 2rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    border: 2px solid #bebbbb;
    /* border-radius: 18px; */
    border-radius: 3px;
    /* background: #d9362a; */
    /* background: #db0609; */
    transition: .5s ease-in-out;
}

.robots-btn:hover{
  
    /* background: #b30507; */
    background: #db0609;
    color: #fff;
    border: 2px solid #db0609;
    transition: .5s;
}

/*----- outreach section -----*/

.outreach-home{
    text-align: center;
}

iframe{
    border: 1px solid;
    width: 40%;
    height: 600px;
    background-color: #525252;
}

/*------ awards section ------*/

.awards{
    text-align: center;
    margin: 3rem;
    
}
.awards img{
    width: 10%;
    margin: .3rem;
}

/*------ footer section ------*/

footer{
    background-color: #525252; 
    text-align: center;
}

footer h1{
    padding: 2rem;
    padding-bottom: 30rem;
    
}

/*----- SEASONS PAGE -----*/

/*----- SEASONS hero -----*/

.seasons-hero-container{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 70px;
}


.seasons-hero-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(images/fenrir-pit.png);
    /* filter: sepia(100%) hue-rotate(300deg) brightness(50%) saturate(250%); */
    filter: brightness(50%);
    background-attachment: fixed;
    
    
}

.seasons-hero-container h1{
    font-family: rev-font;
    color: white;
    font-size: 6rem;
    z-index: 1;
}

/*----- SEASONS nav -----*/

.seasons-nav{
    /* position: absolute; */
    /* top: 0;
    left: 0;
    width: 100%; */
    padding: 10px 10px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #333;
    border: .2px solid #525252;
    z-index: 100;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    /* overflow-y: hidden;
    overflow-x: auto; */
}

.seasons-nav a{
    text-decoration: none;
    color: #fff;
    padding: 6px 20px;
    border-radius: 20px;
    margin: 0 5px;
    transition: .5s ease-in-out;
}
.seasons-nav a:hover{
    background: #292929;
    transition: .5s;
}

/*----- SEASONS split section -----*/

.seasons-robot{
    display: flex;
    justify-content: center;
    margin: var(--spacing-xl);
}

.seasons-robot h1{
    
}

.seasons-image{
    width: 100%;
}

.seasons-robot >.col-right{
    flex-direction: column;
    /* justify-content: center;
    align-items: flex-start; */
}

.banner-image{
    margin: var(--spacing-sm);
    width: 50%;
}




